* {
	box-sizing: border-box;
	font-family: Verdana;
}

body, h1, h2, h3, h4, h5 {
	font-family: "Poppins", sans-serif;
}
h3{
	font-size: 24px;
	letter-spacing: 4px;
}

body{
	font-size:16px;
}

html{
	scroll-behavior: smooth;
}

.content{
	background-color: white;
	text-align: center;
	margin-bottom: 50px;
}



.sidenav{
	height: 100%;
	width: 300px;
	position: fixed!important;
	z-index: 3;
	overflow: auto;
	background-color: coral;	
	display:block!important;
	font-weight: bold;
	padding: 8px 16px;
}

.bar-block{
	width: 100%;
	min-width: 100%;
	text-align: left;
	padding:8px 16px;
}

.container{
	padding:0.01em 16px;
}

.padding-64{
	padding-top:64px!important;
	padding-bottom:64px!important
}

.bar-item{
	padding: 8px 16px; 
	float:left;
	width:auto;
	border:none;
	display:block;
	outline:0;
	width:100%;
	text-align:left;
}
.bar-item:hover{
	color:#000!important;
	background-color:#fff!important;
}

.sidenav a{
	width:100%;
	font-size:22px;
	color: #000;
}




